.top-banner{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.top-banner-title{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
  color: white;
  font-size: 85px;
}
.top-banner .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  color: white;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: white;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  background: white;
}