.header{
  background-color: #36720e;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
  .container-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    display: flex;
    align-items: center;
  }
  &__link{
    color: white;
    font-size: 23px;
    cursor: pointer;
  }
  &__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      margin-right: 30px;
    }
  }
}