.content{
  display: flex;
  justify-content: space-between;
}
.load-button{
  width: 100%;
  padding: 10px;
  border: none;
  background: #81BECB;
  color: black;
  font-size: 25px;
  outline: none;
  cursor: pointer;
  border-radius:10px;
  &:hover{
    opacity: 0.9;
  }
}
.search-item{
  display: flex;
  margin-bottom: 30px;
  img{
    width: 250px;
    margin-right: 20px;
  }
}
@media (max-width: 567px) {
  .search-item{
    flex-direction: column;
  }
  .search-item img{
    width: 100%;
  }
}