.catalog-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}
.container-direction{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-item {
  background: #f5f5f5;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
  color: black;
  p{
    margin-bottom: 0;
  }
  .btn-load-more{
    background: #36720e;
  }
  span{
    margin-top: 10px;
    display: block;
  }
  &:hover {
    color: green;
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }

  h3 {
    margin-top: 10px;
    font-size: 16px;
  }
}