.content{
  display: flex;
  justify-content: space-between;
}
.catalog-item-bl{
  text-align: center;
  img{
    margin-bottom: 30px;
    max-width: max-content;
    width: 100%;
  }
}
.container-direction{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-item{
  a{
    color: black;
  }
}